body{
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/10best-cars-group-cropped-1542126037.jpg);
    background-attachment: fixed;
background-size: cover;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 1.3cm;
    font-weight: 600;
    
}
form{
    text-align: center;

}
button{
    font-size: 1cm; 
    background-position: bottom;
    padding: 1rem 1.5rem;
    font-weight: 1000;
    background: transparent;
    
}